<section id="the-stream" class="cards cards--considering" data-column-name="Maybe?"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle">
  <div class="cards__transition-container">
    <header class="cards__header">
      <div class="cards__expander">
        <h2 class="cards__expander-title" data-collapsible-columns-target="title">Maybe?</h2>
      </div>

      <%= link_to public_board_columns_stream_url(board.publication.key), class: "cards__maximize-button btn btn--circle txt-x-small borderless", data: { turbo_frame: "_top" } do %>
        <%= icon_tag "grid", class: "translucent" %>
        <span class="for-screen-reader">Maximize column</span>
      <% end %>
    </header>

    <%= column_frame_tag :stream_column, src: public_board_columns_stream_path(board.publication.key) %>
  </div>
</section>
