<%= turbo_frame_tag @collection, :entropy_configuration do %>
  <h2 class="divider txt-large">Do or Die</h2>
  <%= render "entropy/auto_close", model: collection, url: collection_entropy_configuration_path(collection) %>
<% end %>
